* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 90px;
    height: 43.7px;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box:hover>.search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-btn {
    background-color: black;
    color: white;
    float: right;
    width: 40px;
    height: 25px;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-txt {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
}

.user {
    padding: 0 9px;
    color: black;
    width: 40px;
}

.shopping {
    padding: 0 9px;
    color: black;
    width: 0px;
    margin-right: 40px;
}

.menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.a {
    margin: 30px;
}

.b {
    padding: 0px;
}

.c {
    margin: 40px 0px;
}

.d1 {
    margin: 8px;
}

.center1 a h6 {
    height: 0px;
    padding: 30px 40px;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.content2 {
    width: 100%;
    height: auto;
}

.img {
    position: relative;
    overflow: hidden;
}

.img2 {
    width: 262px;
    height: 350px;
}

a:hover {
    color: #999;
}

.cardh {
    height: 86.4px;
}

.imagehover {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 777;
    transition: 0.5s;
}

.imghover:hover+.imagehover {
    opacity: 1;
}

.imagesp {
    overflow: hidden;
}

.ho img {
    overflow: hidden;
    width: 100%;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.ho img:hover {
    transform: scale(0.9);
}

.fooderbg {
    background-color: #DCDCDC;
    height: auto;
}

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #333;
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5 ease;
}

.tab-item:hover {
    opacity: 1;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.card1 {
    height: 450px;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    max-width: 440px;
    border: 0;
}

.card-header {
    border-bottom: white;
    background-color: white;
}

.ju {
    justify-content: center;
}

.iconn {
    margin: 0px 10px;
    max-width: 300px;
}

.h55 {
    padding: 5px;
    margin: 0px;
}

.iconnn {
    padding: 5px 5px;
}

.fa1 {
    color: #38579B;
}

.card-button {
    width: 100%;
}

.product {
    padding: 100px px;
}

.top {
    margin-bottom: 30px;
}

.top p {
    margin: 0 12px;
    font-size: 12px;
}

.top a {
    margin: 0 12px;
    font-size: 12px;
}

.left-big-img {
    width: 80%;
    padding-right: 20px;
}

.left-big-img img {
    width: 100%;
    max-height: 655px;
}

.left-samll-img {
    width: 20%;
}

.left-samll-img img {
    width: 100%;
    max-height: 155px;
    margin-bottom: 12px;
}

.content-right-name h1 {
    font-size: 16px;
}

.content-right-name p {
    font-size: 14px;
}

.content-right-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}

.content-right-color-img {
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.content-right-color-img img {
    width: 30px;
    height: 30px;
}

.content-right-color-img p {
    margin-bottom: 0px;
    padding-left: 12px;
}

.size button {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0px;
    font-size: 12px;
    cursor: pointer;
}

.size button:hover {
    border-color: black;
    color: black;
}

.quantity {
    margin-bottom: 20px;
}

.quantity input {
    margin-left: 12px;
    width: 50px;
    height: 30px;
    padding-left: 4px;
}

.content-right-button {
    margin-bottom: 20px;
    border-radius: 5px;
}

.content-right-button button i {
    margin-right: 12px;
}

.content-right-icon {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 12px;
}

.content-right-icon-item {
    margin-top: 12px;
    border-bottom: 1px solid #dddd;
}

.content-right-icon-item i {
    margin-right: 12px;
}

.p-margin {
    margin-left: 60%;
}

.p-margin1 {
    margin-left: 42%;
}

.p-margin2 {
    margin-left: 32%;
}

.modal-content {
    width: 800px;
    margin-top: 120px;
    margin-left: -144px;
    border-radius: 0px;
    padding: 10px 30px;
}

.modal-body p {
    font-size: 14px;
}

.modal-body img {
    width: 310px;
}

.content-contment {
    margin: 20px 0px;
}

.content-contment-assess {
    padding: 30px;
}

.start1 h2 {
    font-size: 60px;
    font-weight: 900;
}

.start1 i {
    font-size: 30px;
}

.start1 {
    margin-top: 55px;
}

.content-contment-progress>.progress {
    width: 328px;
    border-radius: 5px;
    margin: 5px 5px 50px 25px;
}

.p7 {
    width: 15%;
}

.progress1 {
    margin-right: 10%;
}

.progress-height {
    height: 50px;
}

.content-contment-chat {
    margin-top: 12px;
}

.content-contment-chat h4 {
    font-size: 19px;
    font-weight: bold;
    margin-left: 7px;
}

.content-contment-chat-img img {
    width: 40px;
    border-radius: 30px;
}

.p-time {
    font-size: 12px;
    margin-left: 45px;
    margin-top: -18px;
}

.icon-chat {
    margin-left: 39px;
    margin-top: -16px;
    font-size: 12px;
}

.p-chat {
    margin-left: 38px;
    margin-top: 12px;
}

.img-chat img {
    border-radius: 0px;
    width: 70px;
    margin-left: 61px;
    margin-bottom: 12px;
}

.content-contment-sp {
    margin-top: 12px;
}

.content-contment-sp h4 {
    font-size: 19px;
    font-weight: bold;
    margin-left: 7px;
}

.content-product {
    background-color: #dddddd;
    height: 80px;
}

.content-product-1 p {
    font-size: 25px;
    padding: 20px 43%;
}

.content-pagination {
    margin: 20px 45%;
}

.radio-tabs {
    font-size: 12px;
}

.radio-item {
    font-weight: bolder;
    padding: 10px 10px;
}

.radio-pane input {
    margin: 20px 0px;
}

.card2 {
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    max-width: 440px;
    border: 0;
}